<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="nav">
    <a routerterLink="/" class="nav__link">
        <i class="material-icons nav__icon">home</i>
        <span class="material-symbols-outlined">
            Inicio
        </span>
    </a>
    <a routerterLink="/map" class="nav__link">
        <i class="material-icons nav__icon">restaurant_menu</i>
        <span class="material-symbols-outlined">Reservar</span>
    </a>
    <a routerterLink="/guardado" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">book</i>
        <span class="material-symbols-outlined">
            Guardado
        </span>
    </a>
    <a routerterLink="/profile" class="nav__link">
        <i class="material-icons nav__icon">person</i>
        <span class="material-symbols-outlined">
            Perfil
        </span>
    </a>
</nav>